

:root {
  --theme-main-white: #FFFBF0;
  --theme-main-blue: #3D85C5;
  --theme-main-black: #282C34;

  --timer-arrow1: 0.5s;

  --timer-arrow2: 1s;
  --delay-arrow2: 0.5s;

  --timer-arrow3: 1s;
  --delay-arrow3: 1.5s;
}

.App {
  background-color: #ffffff
}

a {
  color: var(--theme-main-black);
  text-decoration: none;
  opacity: 1;
}

a:hover {
  opacity: .7;
}

#arrow1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: dash var(--timer-arrow1) linear forwards;
}


#arrow2 {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: dash var(--timer-arrow2) linear forwards;
  animation-delay: var(--delay-arrow2);
}

#arrow3 {
  stroke-dasharray: 0,100;
  animation: dash2 var(--timer-arrow2) linear forwards;
  animation-delay: var(--delay-arrow3);
}

#arrow4 {
  stroke-dasharray: 0,100;
  animation: dash2 var(--timer-arrow2) linear forwards;
  animation-delay: var(--delay-arrow3);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash2 {
  to {
    stroke-dasharray: 20,20;
  }
}

.card {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(111,168,220);
  background: linear-gradient(59deg, rgba(61,133,198,1) 0%, rgba(111,168,220,1) 100%);
  border: 1px solid var(--theme-main-black);
  border-radius: 5px;
  min-width: 200px;
  color: var(--theme-main-white);
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.card:hover {
  background: rgb(111,168,220);
  background: linear-gradient(59deg, rgba(61,133,198,.5) 0%, rgba(111,168,220,.5) 100%);
  border: 1px solid var(--theme-main-white);
  border-radius: 5px;
}

.cardHeader {
  flex: 2;
  text-align: center;
  margin: 2px;
  padding: 2px;
}

.cardIcon {
  flex: 1;
  margin: 1px;
  padding: 1px;
}
